<h1>Edit Profile</h1>

<%= form_for @employee do |f| %>
  <% if @employee.errors.any? %>
    <div class="errors">
      <h2>There were errors with your submission:</h2>
      <ul>
        <% @employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit "Update Profile" %>
  </div>
<% end %>

<%= link_to 'Cancel', employee_path(@employee) %>
