<div class="container">
  <h1 class="mb-4">Employee List</h1>

  <%= render 'search_form' %>

  <div class="row">
    <% @employees.each do |employee| %>
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= employee.image_url.presence || asset_path('default_profile.png') %>" alt="<%= employee.first_name %>'s profile photo">
          <div class="card-body">
            <h5 class="card-title"><%= employee.first_name %> <%= employee.last_name %></h5>
            <p class="card-text">
              <strong>Title:</strong> <%= employee.title %><br>
              <strong>Organization:</strong> <%= employee.organization&.name || "No Organization Assigned" %>
            </p>
            <%= link_to 'View Profile', employee_path(employee), class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <%= form_with url: upload_csv_employees_path, method: :post, multipart: true, local: true do |f| %>
      <div class="form-group">
        <%= f.label :file, "Upload Employees CSV" %>
        <%= f.file_field :file, class: "form-control" %>
      </div>
      <%= f.submit "Upload Employees", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
</div>
