<div class="container">
<h1><%= @employee.first_name %>'s Profile</h1>

<p><strong>Email:</strong> <%= @employee.email %></p>

<h2>Responsibilities</h2>
  <ul>
    <% @responsibilities.each do |responsibility| %>
      <li>
        <%= responsibility.description %>
        <% if policy(responsibility).edit? %>
          <%= link_to 'Edit', edit_responsibility_employee_path(@employee, responsibility), class: 'btn btn-sm btn-secondary' %>
        <% end %>
      </li>
    <% end %>
  </ul>

<%= link_to 'Back to Organization', organization_path(@employee.organization_id) %>
</div>
