<div class="container">
  <h1><%= @employee.first_name %> <%= @employee.last_name %></h1>
  <h3><%= @employee.organization.name %></h3>
  <h4><%= @employee.title %></h4>

  <p><strong>Email:</strong> <%= @employee.email %></p>
  <img src="<%= @employee.profile_image || asset_path('default_profile.png') %>" 
       alt="<%= @employee.first_name %>'s Profile Photo" 
       class="profile-photo">

  <h2>Responsibilities</h2>
  <ul>
    <% @responsibilities.each do |responsibility| %>
      <li>
        <%= responsibility.description %>
        <div>
          <% if policy(responsibility).edit? %>
            <%= link_to 'Edit', edit_employee_responsibility_path(@employee, responsibility), class: 'btn btn-sm btn-secondary' %>
          <% end %>
          <% if policy(responsibility).destroy? %>
            <%= button_to 'Delete', employee_responsibility_path(@employee, responsibility), method: :delete, data: { confirm: "Are you sure you want to delete this responsibility?" }, class: 'btn btn-sm btn-danger' %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <% if policy(@employee).can_manage_responsibilities? %>
    <h3>Add Responsibility</h3>
    <%= render 'responsibilities/form', employee: @employee, responsibility: Responsibility.new %>
  <% end %>

  <% if policy(@employee).edit_organization? %>
    <%= link_to "Reassign Organization", edit_organization_employee_path(@employee), class: "btn btn-sm btn-secondary" %>
  <% end %>

  <% if policy(@employee).destroy? %>
    <%= button_to "Delete Employee", employee_path(@employee), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this employee?" } %>
  <% end %>

  <%= link_to 'Back to Organization', organization_path(@employee.organization_id), class: "btn btn-secondary mt-3" %>
</div>
