<div class="container">
  <div class="card mb-4">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="card-title mb-0 d-flex align-items-center">
          <i class="bi bi-building me-2"></i> Organizations
        </h1>
        <% if current_employee&.admin? %>
          <div class="d-flex align-items-center">
            <%= link_to new_organization_path, class: "btn btn-success btn-sm d-flex align-items-center" do %>
              <i class="bi bi-person-plus-fill me-1"></i> New Organization
            <% end %>
            <%= form_with url: upload_csv_organizations_path, method: :post, multipart: true, local: true, html: { class: 'd-flex align-items-center' } do |f| %>
              <div class="me-2">
                <%= f.file_field :file, class: "form-control form-control-sm" %>
              </div>
              <%= f.submit "Upload CSV", class: "btn btn-primary btn-sm text-light" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <% @organizations.each_with_index do |organization, index| %>
      <% if current_employee&.admin? || organization.name != "Admin Org" %>
        <div class="col-md-6 mb-4">
          <div class="card shadow-sm h-100">
            <div class="card-header custom-bg text-light d-flex justify-content-between align-items-center" id="heading<%= index %>">
              <h5 class="mb-0 fw-bold">
                <button class="btn btn-link fw-bold text-decoration-none text-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="false" aria-controls="collapse<%= index %>">
                  <%= organization.name %>
                </button>
              </h5>
            </div>

            <div id="collapse<%= index %>" class="collapse" aria-labelledby="heading<%= index %>">
              <div class="card-body">
                <p class="card-text text-muted">
                  <%= truncate_description(organization.description, 50, organization_path(organization)) %></p>
                <div class="d-flex justify-content-between">
                  <%= link_to "View Details", organization_path(organization), class: "btn btn-primary btn-sm" %>
                  <% if current_employee&.admin? %>
                    <%= link_to "Edit", edit_organization_path(organization), class: "btn btn-outline-secondary btn-sm" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
