<div class="container-md">
<h2><%= @organization.name %></h2>
<p><%= @organization.description %></p>

<h5>Employees:</h5>
<ul>
  <% @organization.employees.each do |employee| %>
    <li><strong><%= employee.title %></strong> : <%= employee.first_name %> <%= employee.last_name %></li>
  <% end %>
</ul>

<h5>Sub-organizations:</h5>
<% @organization.sub_organizations.each do |sub_organization| %>
  <div class="sub-organization">
    <h6><%= sub_organization.name %></h6>
    <p><%= sub_organization.description %></p>

    <h6>Employees:</h6>
    <ul>
      <% sub_organization.employees.each do |employee| %>
    <li>
      <strong><%= employee.title %></strong> : 
      <%= link_to "#{employee.first_name} #{employee.last_name}", employee_path(employee) %>
    </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if policy(@organization).edit? %>
  <%= link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-sm btn-secondary' %>
<% end %>

<%= link_to 'Back to Organizations', organizations_path, class: 'btn btn-secondary' %>
</div>
