<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ConnectCo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link active" aria-current="page" href="/">Organizations</a>
        <% if employee_signed_in? %>
          <%= link_to 'Employee Directory', employees_path, class: 'nav-link' %> <!-- Link to Employee Index -->
          <%= button_to 'Sign Out', destroy_employee_session_path, method: :delete, class: 'btn btn-link nav-link', data: { turbo: false } %>
        <% else %>
          <%= link_to 'Sign In', new_employee_session_path, class: 'nav-link' %>
        <% end %>
      </div>

      <!-- Search Form for Employees -->
      <%= search_form_for @employee_q, url: employees_path, method: :get, class: "d-flex" do |f| %>
        <%= f.search_field :first_name_or_last_name_or_title_cont, 
                           placeholder: "Search employees...", 
                           class: "form-control me-2" %>
        <%= f.submit "Search", class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</nav>
